@import url('reset.css');
body {
    background: url(../img/newbg.png) repeat;
    font-family: Helvetica, Arial, "sans-serif";
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: "Lato", Helvetica, Arial, "sans-serif";
}
body section {
    padding-top: 160px;
    padding-bottom: 160px;
}
body p {
    text-shadow: none;
    font-size: 16px;
    line-height: 1.5em;
}
body .hero-unit {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    background: #fff;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection,
::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}
hr {
    border: 0px;
    border-top: #ccc 1px solid;
    border-bottom: #f1f1f1 1px solid;
    margin: 18px 0px;
}
.container {
    /* Social icons ----------------------------------------------------*/
    /* TABS ----------------------------------------------------*/
    /* MAIN ----------------------------------------------------*/
    /* NAV ----------------------------------------------------*/
    /* INFORMATION ----------------------------------------------------*/
    /* FORM ----------------------------------------------------*/
    /* THUMBNAILS ----------------------------------------------------*/
    /* FOOTER ----------------------------------------------------*/
}
.container a {
    color: #5e476b;
}
.container a:hover {
    color: #9262ad;
}
.container a.thumbnail:hover {
    border-color: #fe57a1;
}
.container .page-header {
    border-bottom: #AF95BD 1px solid;
}
.container #main {
    margin-top: 70px;
    font-size: 16px;
    line-height: 1.5em;
}
.container .navbar-inner {
    background: url(../img/newnav.png);
}
.container .navbar-inner .important {
    color: #EBDCF2;
}
.container .navbar-inner .dropdown-menu {
    background: #EBDCF2;
}
.container .navbar-inner .dropdown-menu li > a {
    color: #43364A;
    border-left: 3px solid transparent;
    text-shadow: none;
}
.container .navbar-inner .dropdown-menu li > a:hover,
.container .navbar-inner .dropdown-menu .active > a,
.container .navbar-inner .dropdown-menu .active > a:hover {
    background: none;
    border-left: 3px solid #fe57a1;
}
.container .information {
    /* Summary ----------------------------------------------------*/
    /* Experience ----------------------------------------------------*/
    /* Education ----------------------------------------------------*/
    /* Awards ----------------------------------------------------*/
}
.container .thumbnails li span {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #867A8C;
}
.container footer {
    padding-top: 100px;
    color: purple;
}
.container footer p {
    font-size: 12px;
}
